<!-- <div class="px-4 py-5  text-center">
    <h1 class="display-5 fw-bold">{{instance?.name||'Product 1'}}</h1>
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        </div>
    </div>
</div>

<div class="b-example-divider"></div> -->



<sistch-tables-single-view [instance]="providedInstance" (setInstance)="setIntance($event)" [id]="id"
    instanceUrl="api/v1/purchases">
    <div *ngIf="instance" class="mt-3">
        <div class="rounded d-flex bg-secondary bg-opacity-75 text-white  justify-content-center">
            <div class="p-3">
                <h1>{{instance.name | titlecase}}</h1>
                <span> <i class="fa fa-shop"></i>&nbsp;{{instance.branch_name | titlecase}}</span><br>
                <span> <i class="fa fa-address-card"></i> {{instance.contact_name | titlecase}} </span><br>
                <span><i *ngIf="instance.transaction_type=='P'" class="fa fa-dollar-sign"></i>
                    <i *ngIf="instance.transaction_type=='C'" class="fa fa-hand-holding-dollar"></i>
                    {{instance.transaction_type_display}}</span><br>
                <span> <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{instance.created |
                    date:'medium'}}</span>
            </div>
        </div>


        <!-- <hr class="mt-3"> -->


        <div class="d-flex mt-3 justify-content-center">
            <h3 class="">Purchase Products</h3>
        </div>
        <div class="row">
            <div class="col-8" *ngIf="url !=''">
                <app-lsit-purchase-product (onActions)="onActions($event)" [args]="args" [url]="url"
                    [total_price]="instance.total_price">
                </app-lsit-purchase-product>
            </div>
            <div class="col-4" *ngIf="shopId">
                <app-add-purchase-product-myform (onAddedUpdate)="onAddedUpdate($event)" [shopId]="shopId"
                    [extra_fields]="extra_fields" [instance]="selectedPurchaseProduct">
                </app-add-purchase-product-myform>

            </div>
        </div>
    </div>

</sistch-tables-single-view>