<div class="container-fluid">


  <div class="row">
    <div class="col-md-12">
      <h1 class="page-title mt-3">View Branch</h1>
      <app-myform [formItems]="formItems" submitButtonText="Search" [isValidationOnly]="isValidationOnly"
        (onValidatedData)="onValidatedData($event)" [collapseFilters]="collapseFilters" componentType="filter"
        formActionName="Search" submitButtonText="" [formGroupOrder]="formGroupOrder">
      </app-myform>
    </div>
    <hr />
  </div>
  <my-app-tables searchFieldName="name" searchFieldNameMessage="branch name" [enableEdit]="enableEdit"
    [enableDelete]="enableDelete" [listTypeUrl]="url" [args]='args' [page_size]="pageSize" [showNumbering]="false"
    (actionsEvent)="handleActions($event)" [headers]="headers">
  </my-app-tables>

</div>