<div class="container">


  <div class="row">
    <div class="col-md-12">
      <h1 class="page-title mt-3">View Purchase</h1>
      <app-myform [formItems]="formItems" [collapseFilters]="collapseFilters" submitButtonText="Search"
        [isValidationOnly]="isValidationOnly" (onValidatedData)="onValidatedData($event)" componentType="filter"
        formActionName="Search" submitButtonText="" [formGroupOrder]="formGroupOrder">
      </app-myform>
    </div>
    <hr />
  </div>
  <my-app-tables searchFieldName="name" searchFieldNameMessage="Vendor Name" [enableEdit]="enableEdit"
    [enableView]="enableEdit" [enableDelete]="enableDelete" [listTypeUrl]="url" [instanceUrl]="instanceUrl"
    [args]='args' [page_size]="pageSize" [showNumbering]="showNumbering" [headers]="headers"
    (actionsEvent)="handleActions($event)">

    <div header>
      <app-myinput componentType="form" [data]="shopBranchOptions" [form]="shopBranchForm" formControName="branch">
      </app-myinput>
    </div>
  </my-app-tables>

</div>